body {
    width: 1920px;
    height: 1080px;
    left: 0px;
    top: 0px;  
    font-family: 'JetBrains Mono', monospace;
    background: linear-gradient(359.75deg, #ffed84 0.23%, #f56661 99.79%);
}

.container{
    margin: 0 auto;
    height: 500px;
    text-align: center;
    padding-top: 60px;
}

#tarefa-form {
    padding-top: 30px;
    padding-bottom: 30px;
}

#header {
    color: white;
}

#tarefa {
    color: white;
    border-radius: 5px;
    background-color: rgb(230, 168, 168);
}

#footer{
    color: white;
    font-size: 0.80em;
}